@import "syntax-variables";

atom-panel.syntax--modal {
  border: 2px solid #000;
  background-color: @black;
}

atom-panel.syntax--modal .syntax--select-list ol.syntax--list-group {
  background-color: @black;
}

atom-panel.syntax--modal .syntax--select-list ol.syntax--list-group li.syntax--selected span {
  color: @white;
}

atom-panel.syntax--modal .syntax--select-list ol.syntax--list-group li.syntax--selected {
  color: @white;
}

.syntax--selected kbd {
  background: @white;
  color: #000;
}

.syntax--find-and-replace,
.syntax--project-find {
  background-color: @black;
}

.syntax--find-and-replace .syntax--options-label .syntax--options,
.syntax--project-find .syntax--options-label .syntax--options {
  color: @white;
}

.syntax--find-and-replace .syntax--description,
.syntax--project-find .syntax--description {
  color: @white;
}

.syntax--find-and-replace .syntax--description .syntax--subtle-info-message .syntax--highlight,
.syntax--project-find .syntax--description .syntax--subtle-info-message .syntax--highlight {
  color: @white;
}

.syntax--find-and-replace .syntax--find-meta-container .syntax--result-counter {
  color: @white;
}

atom-text-editor.editor .syntax--highlight.syntax--find-result .syntax--region {
  border-color: @magenta;
}

atom-text-editor, atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .syntax--wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .syntax--indent-guide {
    color: @syntax-indent-guide-color;
  }

  .syntax--invisible-character {
    color: @syntax-invisible-character-color;
  }

  .syntax--gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .syntax--line-number {
      &.syntax--cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.syntax--cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .syntax--gutter .syntax--line-number.syntax--folded,
  .syntax--gutter .syntax--line-number:after,
  .syntax--fold-marker:after {
    color: @white;
  }

  .syntax--invisible {
    color: @syntax-text-color;
  }

  .syntax--cursor {
    color: @syntax-cursor-color;
  }

  .syntax--selection .syntax--region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .syntax--search-results .syntax--marker .syntax--region,
atom-text-editor .syntax--search-results .syntax--marker .syntax--region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .syntax--search-results .syntax--marker.syntax--current-result .syntax--region,
atom-text-editor .syntax--search-results .syntax--marker.syntax--current-result .syntax--region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @dark-grey;
}

.syntax--keyword {
  color: @yellow;

  &.syntax--control {
    color: @yellow;
  }

  &.syntax--operator {
    color: @white;
  }

  &.syntax--css {
    &.syntax--operator.syntax--logic {
      color: @blue;
    }
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @yellow;
  }
}

.syntax--storage {
  color: @white;

  &.syntax--type {
	&.syntax--js {
	  color: @blue;
	  font-style: italic;
    }
  }

  &.syntax--modifier {
	color: @blue;
	font-style: italic;
  }

  &.syntax--js {
    &.syntax--type {
      &.syntax--function {
        color: @yellow;
        font-style: italic;
      }
      &.syntax--var {
        color: @blue;
        font-style: italic;
      }
	  &.syntax--variable {
        color: @blue;
        font-style: italic;
      }
    }
  }
}

.syntax--punctuation.syntax--quasi.syntax--element.syntax--js {
  color: @red;
  font-weight: bolder;
}

.syntax--storage.syntax--type.syntax--function.syntax--arrow.syntax--js {
  color: @red;
  font-weight: bolder;
  font-style: normal;
}

.syntax--function.syntax--arrow.syntax--js .syntax--name.syntax--function {
  color: @grey;
}

.syntax--source.syntax--js.syntax--jsx .syntax--entity.syntax--other.syntax--attribute-name {
  font-style: normal!important;
}

.syntax--punctuation.syntax--section.syntax--embedded.syntax--jsx {
  color: @red;
  font-weight: bolder;
}

.syntax--keyword.syntax--operator.syntax--spread.syntax--js {
  color: @red;
  font-weight: bolder;
}

.syntax--keyword.syntax--control.syntax--module.syntax--js {
  color: @purple;
}

.syntax--support.syntax--class.syntax--component.syntax--jsx {
  color: @blue;
  font-weight: bold;
  font-style: normal;
}

.syntax--entity.syntax--name.syntax--tag.syntax--jsx {
  color: @blue;
  font-weight: bold;
}

.syntax--text {
  &.syntax--html {
    &.syntax--basic {
      color: @white;
    }
  }
}

.syntax--constant {
  &.syntax--character.syntax--escape {
    color: @white;
  }

  &.syntax--character {
    color: @yellow;
  }

  &.syntax--numeric {
    color: @magenta;
  }

  &.syntax--other.syntax--color {
    color: @yellow;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }

  &.syntax--js {
    &.syntax--boolean {
      color: @yellow;
    }
  }
}

.syntax--string.syntax--unquoted.syntax--js {
  color: @grey;
}

.syntax--variable {
  color: @grey;

  &.syntax--interpolation {
    color: @red;
	font-weight: bolder;
  }

  &.syntax--other {
    &.syntax--js {
      color: @grey;
    }
  }

  &.syntax--parameter {
    &.syntax--js {
      color: @blue;
      font-style: italic;
    }
    &.syntax--css {
      color: @yellow;
    }
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @green;

  &.syntax--quoted.syntax--js {
    color: @green;
  }

  &.syntax--regexp {
    color: @yellow;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @yellow;
    }

	.syntax--anchor {
		color: @blue;
	}

	.syntax--constant {
		color: @red;
	}

	.syntax--punctuation.syntax--definition.syntax--string.syntax--begin,
	.syntax--punctuation.syntax--definition.syntax--string.syntax--end {
	  color: @purple;
	}
  }

  &.syntax--other.syntax--link {
    color: @blue;
  }
}

.syntax--punctuation {
  &.syntax--css {
    &.syntax--property-list {
      color: @grey;
    }
    &.syntax--separator {
      color: @white;
    }
    &.syntax--terminator {
      color: @white;
    }
  }
  &.syntax--definition {
    &.syntax--css {
      &.syntax--constant {
        color: @yellow;
      }
    }
    &.syntax--tag {
      color: @white;
      font-weight: bold;
    }
    &.syntax--comment {
      color: @dark-grey;
    }

    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--string {
      color: @green;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      font-weight: bold;
    }

    &.syntax--italic {
      font-style: italic;
    }
  }

  &.syntax--section {
    &.syntax--css {
      &.syntax--function {
        color: @grey;
      }
    }
  }

  &.syntax--section.syntax--embedded {
    color: @red;
  }
}

.syntax--support {
  &.syntax--class {
    color: @blue;
    font-style: italic;
  }

  &.syntax--constant  {
    &.syntax--js {
      color: @white;
    }
  }

  &.syntax--function  {
    &.syntax--js {
      color: @white;
    }

    &.syntax--any-method {
      color: @blue;
    }
  }
  &.syntax--css {
    &.syntax--property-name {
      color: @grey;
      font-style: italic;
      font-weight: bold;
    }
    &.syntax--constant {
      color: @blue;
    }
    &.syntax--function.syntax--misc {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--js {
    &.syntax--instance.syntax--name.syntax--type {
      color: @blue;
      font-style: italic;
    }
  }

  &.syntax--other.syntax--inherited-class {
    color: @white;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @white;
	font-weight: bold;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--function {
    color: @white;
  }

  &.syntax--html {
    &.syntax--name.syntax--tag {
      color: @blue;
      font-weight: bold;
    }
    &.syntax--other.syntax--attribute-name {
      color: @red;
    }
	&.syntax--other.syntax--attribute-name.syntax--id {
      color: @red;
    }
  }

  &.syntax--css {
    &.syntax--name.syntax--tag {
      color: @grey;
    }
  }

  &.syntax--other.syntax--attribute-name {
    color: @red;

    &.syntax--id {
      color: @green;
    }
  }
}

.syntax--meta {
  &.syntax--css {
    &.syntax--property-value {
      color: @grey;
    }
  }

  &.syntax--html {
    &.syntax--tag {
      color: @grey;
    }
  }

  &.syntax--class {
    color: @white;
  }

  &.syntax--link {
    color: @yellow;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @yellow;
  }

  &.syntax--separator {
    background-color: @grey;
    color: @syntax-text-color;
  }

  &.syntax--delimiter {
    color: @white;
  }

  &.syntax--brace.syntax--curly {
    &.syntax--js {
	  color: @white;
	}
  }

  &.syntax--brace.syntax--square {
    &.syntax--js {
	  color: @white;
	}
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @yellow;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @red;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @red;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @yellow;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }

  &.syntax--underline.syntax--link.syntax--gfm {
    color: @blue;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--variable.syntax--ordered.syntax--list.syntax--gfm,
.syntax--source.syntax--gfm .syntax--variable.syntax--unordered.syntax--list.syntax--gfm {
  color: @red;
}

.syntax--source.syntax--gfm .syntax--support.syntax--gfm,
.syntax--source.syntax--gfm .syntax--markup.syntax--raw.syntax--gfm {
  color: @purple;
}

.syntax--source.syntax--gfm .syntax--link .syntax--entity.syntax--gfm {
  font-style: italic;
}

.syntax--source.syntax--gfm .syntax--link .syntax--punctuation {
  &.syntax--definition.syntax--begin.syntax--gfm {
    color: @blue;
  }

  &.syntax--definition.syntax--end.syntax--gfm {
    color: @blue;
  }
}

atom-text-editor[mini] .syntax--scroll-view,
atom-text-editor[mini] .syntax--scroll-view {
  padding-left: 1px;
}

.syntax--meta > .syntax--storage.syntax--type + .syntax--entity.syntax--name {
  color: @white;
  font-weight: bolder;
}
